* {
  box-sizing: border-box;
}

/*body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 15%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.galery {
  position: relative;
  display: none;
  width: 70%;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 10px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

table, td {
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  padding: 15px;
  text-align: left;
  color: black;
  font-family: cursive;
}
th{
  background-color: #B60E0E;
  text-align: center;
  color: black;
}
tr:hover {
    background-color: #EB0909;
}
.mike{
  text-shadow: 3px 3px 5px #EB0909,
           6px 6px 5px #B60E0E;
}
button{
  
  border-radius: 12px !important;
  width: 75%;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.vik{
  position: center !important;
  justify-content: center !important;
  margin-top: 15%;
}




.eco:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
} /*sin poner todavia*/

.card {
  width: 100%;
  height: 340px;
}

.lima {
  width: 100%;
  height: 90%;
}

.jumbotron {
  background-color: black;
  margin-bottom: 0px;
  height: 184px;
  box-sizing: border-box;
  padding: 1%;
}
nav {
  background-color: #D10D16 !important;
  margin-top: 0px;
  margin-bottom: 10px;
}
.nav-link{
  color: black !important;
}

.dropdown-menu{
  background-color: #D10D16 !important;
}
footer{
  background-color: black !important;
  color: #B60E0E !important;
  text-align: center !important;
  height: 50px;
}
.card{
  border-color: black;
}
body{
  background-image: url(../img/z-patron/white_paperboard.png);
}

.text-center{
  padding-top: 25%;
}

/*.hotel{
  background: #EE0A0A;
  color: black;
  /*font-size: 30px;
  text-align: center;
  /*border: 6px solid #B60E0E;
  -webkit-box-shadow: 5px 5px 5px 10px #B60E0E inset;
  text-shadow: 1px #EB0909;
  border-radius: 10px;
  padding-top: 0px;

}*/
 .cha {
  background: #EE0A0A;
  color: black;
  font-size: 100px;
  width: 150px;
  height: 150px;
  text-align: center;
  border: 6px solid #B60E0E;
  -webkit-box-shadow: 5px 5px 5px 10px #B60E0E inset;
  text-shadow: 1px #EB0909;
  border-radius: 10px;
  color: black;
  margin-top: 4px;
  padding-top: 5%;
  box-sizing: border-box;

 }

 .sierra{
  -webkit-box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
  -moz-box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
  box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
 }

 .fox {
  visibility: hidden;
}
 
.indian:hover .fox {
  visibility: visible;
}

.fox{
  padding-left: 17%;
  color: black;
  font-size: 22px;
  text-decoration: underline black;

}

iframe{
  width: 100%;
  height: 339px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
  font-family: cursive;
  font-size: 54px;
}
.closebtn {
  color: black;
}