/*.eco:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
} /*sin poner todavia*/

.card {
	width: 100%;
	height: 340px;
}

.lima {
	width: 100%;
	height: 90%;
}

.jumbotron {
	background-color: black;
	margin-bottom: 0px;
	height: 184px;
	box-sizing: border-box;
	padding: 1%;
}
nav {
	background-color: #D10D16 !important;
	margin-top: 0px;
	margin-bottom: 10px;
}
.nav-link{
	color: black !important;
}
button{
	background-color: #D10D16 !important;
	border-color: black !important;
	color:black !important;
}
.dropdown-menu{
	background-color: #D10D16 !important;
}
footer{
	background-color: black !important;
	color: #B60E0E !important;
	text-align: center !important;
	height: 50px;
}
.card{
	border-color: black;
}
body{
	background-image: url(../img/z-patron/white_paperboard.png);
}

.text-center{
	padding-top: 25%;
}

/*.hotel{
	background: #EE0A0A;
	color: black;
	/*font-size: 30px;
	text-align: center;
	/*border: 6px solid #B60E0E;
	-webkit-box-shadow: 5px 5px 5px 10px #B60E0E inset;
	text-shadow: 1px #EB0909;
	border-radius: 10px;
	padding-top: 0px;

}*/
 .cha {
	background: #EE0A0A;
	color: black;
	font-size: 100px;
	width: 150px;
	height: 150px;
	text-align: center;
	border: 6px solid #B60E0E;
	-webkit-box-shadow: 5px 5px 5px 10px #B60E0E inset;
	text-shadow: 1px #EB0909;
	border-radius: 10px;
 	color: black;
 	margin-top: 4px;
 	padding-top: 5%;
 	box-sizing: border-box;

 }

 .sierra{
 	-webkit-box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
	-moz-box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
	box-shadow: inset 0px 0px 65px 2px rgba(182,14,14,1);
 }

 .fox {
  visibility: hidden;
}
 
.indian:hover .fox {
  visibility: visible;
}

.fox{
	padding-left: 17%;
	color: black;
	font-size: 22px;
	text-decoration: underline black;

}

iframe{
	width: 100%;
	height: 339px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
	font-family: cursive;
	font-size: 54px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #D10D16;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.alex:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: black;
  font-size: 25px;
  font-family: cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #D10D16;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.alex:hover .overlay1 {
  height: 100%;
}
